{% include base_path %}

<!-- start custom head snippets -->

<link rel="icon" href="{{ '/images/favicon.ico' | relative_url }}" sizes="any">
<meta name="theme-color" content="#ffffff">


<!-- Support for MathJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Privacy-friendly analytics -->
<script data-goatcounter="https://gianlucacovini.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

<!-- end custom head snippets -->
